#mainMenu{
  background: rgba(0,0,0,0.75);
}
#header-logo{
  min-height: 50px;
  max-height: 2vw;
}
#page{
  background: rgb(40,40,40);
}
.grow{
  transition: all .2s ease-in-out;
}
.grow:hover{
  transform: scale(1.05);
}
.banner{
  background: rgba(0,0,0,0.4);
}
.padder{
  padding: 2%;
}
.slogan{
  color: rgb(255,255,255);
  font-family: 'Exo 2',sans-serif;
  font-size: 30px;
}
.anchored{
  top: -100px;
}
.sepia {
  filter: none;
  -webkit-filter: blur(1px);
  -moz-filter:    blur(1px);
  -ms-filter:     blur(1px);
  -o-filter:      blur(1px);
  cursor: pointer;
  transition: all 300ms ease;
}
.sepia:hover {
  filter: none;
  -webkit-filter: blur(0px);
  -moz-filter:    blur(0px);
  -ms-filter:     blur(0px);
  -o-filter:      blur(0px);
}
.paragraph {
  font-size: 18px;
}
