#mainMenu{
  background: rgba(0,0,0,0.75);
}
#mainMenu img{
  padding: 0px;
}
#page .container .segment{
  padding-top: 20px;
}
#page h1{
  font-family: 'Exo 2', sans-serif;
  color: white;
}
#page h1 span {
  background: rgba(0,0,0,0.8);
  padding: 5px;
}
#headerIMG{
  padding-bottom: 10px;
}
#divider_grid{
  background: rgba(200,200,200,0.5);
}
#divider_header_column{
  display: table;
  height: 100%;
}
#divider_header{
  display: table-cell;
  font-size: 3.5vw;
  vertical-align: middle;
  font-family: 'Exo 2', sans-serif;
}
/*semantic ui class CSS*/
.ui.inverted.icon.header{
  font-family: 'Exo 2',sans-serif;
}
/*ShadowLabs class CSS*/
.sl.body{
  color: rgb(255,255,255);
}
.sl.divider{
  position: relative;
  width: 100vw;
}
.sl.divider img{
  width: 100%;
  z-index: -1;
}
.sl.divider.content{
  position: absolute;
  top: 33.3%;
  height: 30%;
  left: 10%;
  width: 40vw;

}
.sl.divider.content span{
  background: rgba(255,255,255,0.5)
}
.sl.logo{
  float: left;
  height: 100%;
  width: 32%;
}
.sl.divider.header{
  float: right;
}
.sl.container{
  background-image: url(../images/backgrounds/polygonal01.jpg);
}
.sl.container .ui.container{
  background: rgba(0,0,0,0.5);
  padding-top: 15px;
}
