#mainMenu{
  background: rgba(0,0,0,0.75);
}
#header-logo{
  max-height: 2vw;
}
#page{
  background: rgb(40,40,40);
}
.grow{
  transition: all .2s ease-in-out;
}
.grow:hover{
  transform: scale(1.05);
}
.banner{
  background: rgba(0,0,0,0.4);
}
.padder{
  padding: 2%;
}
